In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('IFRS9_V.xlsx', sheet_name='Sheet1')  # Replace with your file's name

df

,PRODUCT_TYPE,CUSTOMER_ID,CUSTOMER_NAME,QUALITY_CUSTOMER,STAGE,CUSTOMER_PROFILE,REFRENCE/ ACC,Expiry Date,Sub_limit_code,Sub_limit_type,...,STO,STO GBP,LGD %,Final Expiry date,Final Impairment,DG 12 Months,Financial Statement item,EAD Amount,GP Collateral Type,Colletral amount
0,Loan to Customer,50161420,EGYPTIAN CO.FOR FREEZING&BEEF PROCESSING,SICR,SICR,Local Large Corporate,60006414450,NaN,554.0,S0 - Syndicated Loan - Var.,...,8.695830e+08,2.283356e+07,0.8500,47726.0,1.545283e+07,18.0,قروض وتسهيلات العملاء,3.638982e+07,Unsecured,0.0
1,Loan to Customer,51004700,IFFCO EGYPT S.A.E,Performing,Live,Global Corporate (MNC),60008869778,NaN,516.0,S0 - MTL - VARIABLE INTEREST,...,7.198930e+09,1.890299e+08,0.7250,44925.0,4.348264e+03,13.0,قروض وتسهيلات العملاء,4.316889e+05,Unsecured,0.0
2,Loan to Customer,51004938,ORIENTAL WEAVERS INTERNATIONAL,Performing,Live,Local Large Corporate,10003418,NaN,547.0,S0 - Documentary Credit Loan,...,6.321055e+09,1.659786e+08,0.7250,45016.0,1.114594e+05,12.5,قروض وتسهيلات العملاء,1.991304e+07,Unsecured,0.0
3,Loan to Customer,51005269,GIZA SPINNING & WEAVING CO,Performing,Live,Local Large Corporate,60006572352,NaN,557.0,S0 - STL REVOLVING INITIATIVE,...,2.818030e+09,7.399599e+07,0.8000,45061.0,6.247979e+04,13.0,قروض وتسهيلات العملاء,5.898636e+06,Unsecured,0.0
4,Loan to Customer,51011228,MINAPHARM PHARMACEUTICALS,Performing,Live,Local Large Corporate,60005018650,NaN,557.0,S0 - STL REVOLVING INTEREST,...,2.064266e+09,5.420361e+07,0.8000,44651.0,1.648118e+03,12.5,قروض وتسهيلات العملاء,2.833593e+05,Unsecured,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11239,Committed,60133232,ELADEL FOR PLASTIC,Performing,Live,Enterprise (Small Enterprises),NaN,NaN,NaN,G0 - MTL SME Initiative Var.,...,2.089600e+07,5.486883e+05,0.2845,45357.0,1.319142e+05,19.0,قروض وتسهيلات العملاء,4.000000e+06,CGC CBE,2800000.0
11240,CBE Placement / Nostro,50220945,CENTRAL BANK OF EGYPT,Performing,Live,Financial Institution(Banks),201106,NaN,201106.0,CBE Placing / Nostro,...,NaN,NaN,0.4500,NaN,1.605147e+07,15.0,قروض وتسهيلات العملاء,1.585330e+09,Unsecured,0.0
11241,Bonds,50220945,CENTRAL BANK OF EGYPT,Performing,Live,Financial Institution(Banks),201106,NaN,201106.0,Bonds,...,NaN,NaN,0.4500,NaN,1.037238e+07,15.0,قروض وتسهيلات العملاء,1.024432e+09,Unsecured,0.0
11242,Bills,50220945,CENTRAL BANK OF EGYPT,Performing,Live,Financial Institution(Banks),201106,NaN,201106.0,Bonds,...,NaN,NaN,0.4500,NaN,1.299542e+07,15.0,قروض وتسهيلات العملاء,1.283499e+09,Unsecured,0.0
11243,Non Borrower,NB,NaN,Performing,Live,Local Large Corporate,NaN,NaN,30.0,CURRENT ACCOUNT CORP (LCY),...,0.000000e+00,0.000000e+00,0.4500,NaN,2.833802e+05,15.0,قروض وتسهيلات العملاء,2.657105e+07,Unsecured,0.0

In [4]:
df.dtypes

PRODUCT_TYPE                     object
CUSTOMER_ID                      object
CUSTOMER_NAME                    object
QUALITY_CUSTOMER                 object
STAGE                            object
CUSTOMER_PROFILE                 object
REFRENCE/ ACC                    object
Expiry Date                      object
Sub_limit_code                  float64
Sub_limit_type                   object
BALANCE_CCY                      object
Amortized Balance               float64
Amortized Balance Equivalent    float64
DPD                             float64
LIMIT_NBR                       float64
STO                             float64
STO GBP                         float64
LGD %                           float64
Final Expiry date               float64
Final Impairment                float64
DG 12 Months                    float64
Financial Statement item         object
EAD Amount                      float64
GP Collateral Type               object
Colletral amount                float64
dtype: object

In [5]:
df.describe()

,Sub_limit_code,Amortized Balance,Amortized Balance Equivalent,DPD,LIMIT_NBR,STO,STO GBP,LGD %,Final Expiry date,Final Impairment,DG 12 Months,EAD Amount,Colletral amount
count,9564.000000,1.124400e+04,1.124400e+04,4777.000000,4875.000000,1.124100e+04,1.124100e+04,11244.000000,11103.000000,1.124400e+04,11244.000000,1.124400e+04,1.124400e+04
mean,303.721665,3.292316e+06,5.880247e+06,1.326565,339251.856410,4.024818e+09,1.056839e+08,0.569424,33863.412861,6.245760e+04,14.514879,3.638080e+06,2.148962e+06
std,3563.518174,1.705235e+07,3.679271e+07,11.657509,146100.938199,1.015973e+11,2.667748e+09,0.368118,9568.137113,8.652440e+05,2.158952,2.818546e+07,2.309644e+07
min,20.000000,1.294570e-04,5.005859e-04,0.000000,6.000000,0.000000e+00,0.000000e+00,0.010000,25569.000000,1.455975e-06,1.000000,5.005859e-04,0.000000e+00
25%,102.000000,1.588015e+03,2.218191e+03,0.000000,258152.000000,4.082000e+07,1.071854e+06,0.010032,25569.000000,9.864656e+00,12.800000,1.806765e+03,0.000000e+00
50%,106.000000,5.622500e+04,8.060242e+04,0.000000,386453.000000,1.359050e+08,3.568601e+06,0.766000,25569.000000,1.207330e+02,15.000000,4.363371e+04,6.450000e-02
75%,516.000000,8.280830e+05,1.592090e+06,0.000000,453153.000000,6.045660e+08,1.587473e+07,0.850000,44924.000000,3.404578e+03,16.000000,6.631227e+05,6.395125e+04
max,201106.000000,5.179074e+08,1.585330e+09,397.000000,515154.000000,5.265491e+12,1.382615e+11,0.974500,47726.000000,6.028086e+07,21.000000,1.585330e+09,1.412940e+09

In [9]:
# Check for missing values

df.isnull().sum()  # This code will output the number of missing values in each column.

PRODUCT_TYPE                       0
CUSTOMER_ID                        0
CUSTOMER_NAME                      1
QUALITY_CUSTOMER                   0
STAGE                              0
CUSTOMER_PROFILE                   0
REFRENCE/ ACC                   1681
Expiry Date                     6390
Sub_limit_code                  1680
Sub_limit_type                     0
BALANCE_CCY                        0
Amortized Balance                  0
Amortized Balance Equivalent       0
DPD                             6467
LIMIT_NBR                       6369
STO                                3
STO GBP                            3
LGD %                              0
Final Expiry date                141
Final Impairment                   0
DG 12 Months                       0
Financial Statement item           0
EAD Amount                         0
GP Collateral Type                 0
Colletral amount                   0
dtype: int64

In [11]:
# Check for duplicate rows
df.duplicated().sum()

np.int64(0)

In [ ]:
# Create a new Excel writer
with pd.ExcelWriter('missing_values.xlsx') as writer:
    # Loop through each column with missing values
    for col in df.columns[df.isnull().any()]:
        # Clean the column name by replacing invalid characters
        cleaned_col = col.replace("/", "_").replace("\\", "_").replace("?", "_").replace("*", "_").replace("[", "_").replace("]", "_") 

        # Filter the DataFrame to get rows with missing values in the current column
        missing_rows = df[df[col].isnull()]

        # Write the filtered DataFrame to a new sheet in the Excel file
        missing_rows.to_excel(writer, sheet_name=f"Missing_{cleaned_col}", index=False)