In [11]:
# import pandas as pd
#import sklearn
#print(sklearn.__version__)
import pandas

ModuleNotFoundError: No module named 'pandas'

In [12]:
import sys
print(sys.executable)

/home/aliko/APPs/AuditMaster/AuditMaster/.venv/bin/python

In [ ]:
df = pd.read_excel('IFRS9_V.xlsx', sheet_name='Sheet1')  # Replace with your file's name

df

NameError: name 'pd' is not defined

In [ ]:
df.dtypes

PRODUCT_TYPE                     object
CUSTOMER_ID                      object
CUSTOMER_NAME                    object
QUALITY_CUSTOMER                 object
STAGE                            object
CUSTOMER_PROFILE                 object
REFRENCE/ ACC                    object
Expiry Date                      object
Sub_limit_code                  float64
Sub_limit_type                   object
BALANCE_CCY                      object
Amortized Balance               float64
Amortized Balance Equivalent    float64
DPD                             float64
LIMIT_NBR                       float64
STO                             float64
STO GBP                         float64
LGD %                           float64
Final Expiry date               float64
Final Impairment                float64
DG 12 Months                    float64
Financial Statement item         object
EAD Amount                      float64
GP Collateral Type               object
Colletral amount                float64
dtype: object

In [ ]:
df.describe()

,Sub_limit_code,Amortized Balance,Amortized Balance Equivalent,DPD,LIMIT_NBR,STO,STO GBP,LGD %,Final Expiry date,Final Impairment,DG 12 Months,EAD Amount,Colletral amount
count,9564.000000,1.124400e+04,1.124400e+04,4777.000000,4875.000000,1.124100e+04,1.124100e+04,11244.000000,11103.000000,1.124400e+04,11244.000000,1.124400e+04,1.124400e+04
mean,303.721665,3.292316e+06,5.880247e+06,1.326565,339251.856410,4.024818e+09,1.056839e+08,0.569424,33863.412861,6.245760e+04,14.514879,3.638080e+06,2.148962e+06
std,3563.518174,1.705235e+07,3.679271e+07,11.657509,146100.938199,1.015973e+11,2.667748e+09,0.368118,9568.137113,8.652440e+05,2.158952,2.818546e+07,2.309644e+07
min,20.000000,1.294570e-04,5.005859e-04,0.000000,6.000000,0.000000e+00,0.000000e+00,0.010000,25569.000000,1.455975e-06,1.000000,5.005859e-04,0.000000e+00
25%,102.000000,1.588015e+03,2.218191e+03,0.000000,258152.000000,4.082000e+07,1.071854e+06,0.010032,25569.000000,9.864656e+00,12.800000,1.806765e+03,0.000000e+00
50%,106.000000,5.622500e+04,8.060242e+04,0.000000,386453.000000,1.359050e+08,3.568601e+06,0.766000,25569.000000,1.207330e+02,15.000000,4.363371e+04,6.450000e-02
75%,516.000000,8.280830e+05,1.592090e+06,0.000000,453153.000000,6.045660e+08,1.587473e+07,0.850000,44924.000000,3.404578e+03,16.000000,6.631227e+05,6.395125e+04
max,201106.000000,5.179074e+08,1.585330e+09,397.000000,515154.000000,5.265491e+12,1.382615e+11,0.974500,47726.000000,6.028086e+07,21.000000,1.585330e+09,1.412940e+09

In [ ]:
# Check for missing values

df.isnull().sum()  # This code will output the number of missing values in each column.

PRODUCT_TYPE                       0
CUSTOMER_ID                        0
CUSTOMER_NAME                      1
QUALITY_CUSTOMER                   0
STAGE                              0
CUSTOMER_PROFILE                   0
REFRENCE/ ACC                   1681
Expiry Date                     6390
Sub_limit_code                  1680
Sub_limit_type                     0
BALANCE_CCY                        0
Amortized Balance                  0
Amortized Balance Equivalent       0
DPD                             6467
LIMIT_NBR                       6369
STO                                3
STO GBP                            3
LGD %                              0
Final Expiry date                141
Final Impairment                   0
DG 12 Months                       0
Financial Statement item           0
EAD Amount                         0
GP Collateral Type                 0
Colletral amount                   0
dtype: int64

In [ ]:
# Check for duplicate rows
df.duplicated().sum()

np.int64(0)

In [ ]:
'''
# Create a new Excel writer
with pd.ExcelWriter('missing_values.xlsx') as writer:
    # Loop through each column with missing values
    for col in df.columns[df.isnull().any()]:
        # Clean the column name by replacing invalid characters
        cleaned_col = col.replace("/", "_").replace("\\", "_").replace("?", "_").replace("*", "_").replace("[", "_").replace("]", "_") 

        # Filter the DataFrame to get rows with missing values in the current column
        missing_rows = df[df[col].isnull()]

        # Write the filtered DataFrame to a new sheet in the Excel file
        missing_rows.to_excel(writer, sheet_name=f"Missing_{cleaned_col}", index=False)
'''

'\n# Create a new Excel writer\nwith pd.ExcelWriter(\'missing_values.xlsx\') as writer:\n    # Loop through each column with missing values\n    for col in df.columns[df.isnull().any()]:\n        # Clean the column name by replacing invalid characters\n        cleaned_col = col.replace("/", "_").replace("\\", "_").replace("?", "_").replace("*", "_").replace("[", "_").replace("]", "_") \n\n        # Filter the DataFrame to get rows with missing values in the current column\n        missing_rows = df[df[col].isnull()]\n\n        # Write the filtered DataFrame to a new sheet in the Excel file\n        missing_rows.to_excel(writer, sheet_name=f"Missing_{cleaned_col}", index=False)\n'

In [ ]:
import sklearn
print(sklearn.__version__)

ModuleNotFoundError: No module named 'sklearn'